<!DOCTYPE html>
html
head
    meta(charset='UTF-8')
    meta(content='origin-when-cross-origin' name='referrer')
    meta(name='viewport' content='width=device-width,initial-scale=1')
    meta(name='theme-color' content='#aaaaaa')
    title D&D Karta Postaci
    link(href='/assets/css/bootstrap.css' rel='stylesheet')
    link(href='https://fonts.googleapis.com/css?family=Cabin' rel='stylesheet')
    link(href='https://fonts.googleapis.com/css?family=Itim' rel='stylesheet')
    link(href='https://fonts.googleapis.com/css?family=Cormorant+Garamond' rel='stylesheet')
    link(href='/assets/css/style.css' rel='stylesheet')

body(data-view='app' data-responsive='true' data-user-signed-in='false')

    div(class='container-fluid')
        h1(class='') D&amp;D ToolBox
        a(href='/sheet/1') Przykładowa karta postaci

    script(src='/assets/js/jquery.js')
    script(src='/assets/js/bootstrap.js')
    script(src='/assets/js/index.js')
