include includes/head

body(data-responsive='true' data-user-signed-in='false' data-view='app')

    div(class='container-fluid')
        h1(class='') D&amp;D ToolBox
        a(href='/sheet/1') Przykładowa karta postaci

    script(src='/assets/js/jquery.js')
    script(src='/assets/js/bootstrap.js')
    script(src='/assets/js/index.js')

    include includes/foot
