body {
    font-family: 'Cabin', sans-serif;
    margin-top: 0.5pc;
    background-color: #fcfcfc;
}

form label {
    font-size: 0.78pc;
}

form.skills h5 {
    color: #3c3c3c;
    font-size: 1pc;
}

form input {
    font-family: 'Itim', cursive;
}

.table_labels .col {
    font-size: 0.78pc;
}

.red {
    color: red;
    background-color: darkred;
    border: 2px solid red;
}