body {
    font-family: Cabin, sans-serif;
    margin-top: 1.5pc;
    background-color: #fcfcfc
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Cormorant Garamond', serif
}

form label {
    font-size: .74pc
}

form.skills h5 {
    color: #3c3c3c;
    font-size: 0.92pc;
}

form input {
    font-family: Itim, cursive
}

.form-group {
    padding-bottom: 0.12pc;
    margin-bottom: 0;
}

.table_labels .col {
    font-size: .78pc
}

.red {
    color: red;
    background-color: #8b0000;
    border: 2px solid red
}